@{
    var error = ViewData["ErrorMessage"] ?? TempData["ErrorMessage"];
    var success = ViewData["SuccessMessage"] ?? TempData["SuccessMessage"];
}

@if (error != null)
{
    <div class="alert alert-danger">@error</div>
}
else if (success != null)
{
    <div class="alert alert-success">@success</div>
}