@using FitnessManager.ViewModels
@model FitnessManager.ViewModels.SettingsViewModel

<div class="dashboard-container d-flex border" style="height: 100vh; overflow: hidden;">
    <!-- SIDEBAR / OFFCANVAS -->
    <div class="offcanvas-lg offcanvas-start sidebar gradientT1 border-end col-3" tabindex="-1" id="sidebarMenu">

        <div class="offcanvas-header d-lg-none">
            <h5 class="offcanvas-title">Menú</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>

        <div class="offcanvas-body p-3">
            <nav>
                <div class="mb-4 d-flex w-100 text-center align-items-center">
                    <img src="@TempData["Avatar"]" alt="Avatar" 
                    class="rounded-circle mb-2 " style="width: 60px; height: 60px; object-fit: cover;">
                    <h5 class="ps-1">@TempData["Username"]</h5>
                </div>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a class="d-flex align-items-center text-decoration-none text-dark"
                        asp-controller="Account" asp-action="Settings" asp-route-view="account-settings">
                            Modificar cuenta
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="d-flex align-items-center text-decoration-none text-dark"
                        asp-controller="Account" asp-action="Settings" asp-route-view="avatar-selector">
                            Modificar avatar
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="d-flex align-items-center text-decoration-none text-dark"
                        asp-controller="Account" asp-action="Settings" asp-route-view="password-change">
                            Cambiar contraseña
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="d-flex align-items-center text-decoration-none text-danger"
                        asp-controller="Account" asp-action="Settings" asp-route-view="delete-account">
                            Eliminar cuenta
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="flex-grow-1 p-4 overflow-auto text-white col-9">
        @if (Model.SelectedOption == "account-settings")
        {
            @await Html.PartialAsync("AccountSettingsPartial", model: Model.AccountSettings)
        }
        else if (Model.SelectedOption == "password-change")
        {
            @await Html.PartialAsync("ChangePasswordPartial", model: Model.ChangePassword)
        }
        else if (Model.SelectedOption == "delete-account")
        {
            @await Html.PartialAsync("DeleteAccountPartial", model: Model.DeleteAccount)
        }
        else if (Model.SelectedOption == "avatar-selector")
        {
            @await Html.PartialAsync("AvatarSelectorPartial", model: Model.AvatarSelector)
        }
    </div>
</div>